<%- include('partials/header.ejs') %>
<div class="d-flex justify-content-center align-items-center vh-100">
    <h2 class="text-center"><%= user.name %>'s Profile Page</h2>
</div>
<%- include('partials/footer.ejs') %>